/*--------------splus UI Zesty4  8.0.1  (2411.201558) (core R2 adminpage)--------------*/
@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/prayag17/Jellyfin-Icons/Font%20Awesome/regular.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); body, h1, h2, h3, h4 {font-family: 'Quicksand', sans-serif;}
.layout-desktop .backgroundContainer {background: url("https://imgr2.selected.plus/css/cyan.png") no-repeat center center;}
:root {
	/*
  --accent: 120, 125, 145;
  --accent-off: 59, 66, 83;
  --dark: 33, 37, 41,;
  --darkest: 13, 13, 18;
  --dark-highlight: 49, 64, 79;
  --dark-apparent: 46, 52, 64;
  --white: 243, 242, 243;
  --white-off: 207, 221, 233; 
	*/	
 --accent: 255, 255, 255;         /* #FFFFFF */
  --accent-off: 141, 141, 141;     /* #8D8D8D */
  --dark: 32, 32, 32;              /* #202020 */
  --darkest: 25, 25, 25;           /* #191919 */
  --dark-highlight: 65, 65, 65;    /* #414141 */
  --dark-apparent: 43, 43, 43;     /* #2B2B2B */
  --white: 255,255,255;           /* F3F2F3 */
  --white-off: 226,226,226;       /* CFDDE9 */
  --jade-green: 0, 172, 111;        /* 00AC6F */
  --honey-yellow: 255, 194, 85;     /* FFC255 */
  --cherry-red: 212, 51, 83;        /* D43353 */
} 
:root {
  --rounding: 12px;
  --rounding-alt: 9px;
  --rounding-large: 24px;
  --rounding-circle: 100px;
}

/***********************Zesty**************************/

  /*  ###### Desktop Layout ##### */

  .layout-desktop .detailLogo {
    left: 5%;
    background-position: left;
  }

  .detailLogo {
	  height: 16vh;
	  position: absolute;
	  right: 25vw;
	  top: 10vh;
	  width: 34em;
  }

  .layout-desktop .itemBackdrop {
    background-attachment: scroll;
    background-position: center;
    background-image: none !important;
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  .layout-desktop .backgroundContainer {
    background-size: cover; /* fix for gradient on 2K and 4K displays */
    position: fixed;
    opacity: 100%;
  }
  /* controls gradient overlay properties - url to img in colorschemes */
  .layout-desktop .backgroundContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    opacity: 1;
  }
  .layout-desktop .detailPageWrapperContainer {
    margin-top: -89vh;
    /* inicial: 73 */
  }

  layout-desktop .detailImageContainer.card {
    display: none !important;
  }

  .layout-desktop .detailPagePrimaryContainer,
  .layout-desktop .detailPageContent {
    padding-left: 5%;
  }

  .layout-desktop .detailPagePrimaryContent {
    width: 45%;
  }

  .layout-desktop .detailPagePrimaryContainer {
    display: inline-table;
    z-index: 2;
    left: 5%;
  }

  .layout-desktop .detailPageSecondaryContainer {
    margin: 0 0 0em 0 !important;
    padding-bottom: 0em !important;
  }

  .layout-desktop .itemDetailsGroup {
    margin-top: 0;
    padding-bottom: 0vh !important;
  }

  .layout-desktop a.overview-expand.emby-button {
    margin: none;
    padding: none;
  }


  .layout-desktop .itemName,
  .layout-mobile .itemName {
    font-weight: normal;
  }

  .infoWrapper {
    margin-bottom: 3vh;
  }

  /* Hide track selection box logic */

  .trackSelections > *:nth-child(n+3) {
    visibility: hidden;
  }
  .trackSelections {
    position: relative !important;
  }
  .selectAudioContainer, .selectSubtitlesContainer{
    position: absolute;
  }
  .trackSelections .emby-select {
	  width: 386px;
	  overflow: hidden;
	  text-overflow: ellipsis !important; 
  }
  .trackSelections .selectContainer #embyselect0,
  .trackSelections .selectContainer #embyselect2,
  .trackSelections .selectContainer #embyselect3 {
    padding-right: 40px !important;
    background-color: rgba(var(--dark),.75) !important;
    color: rgba(var(--white),.9) !important;
    backdrop-filter: blur(5px);
  }
  .selectContainer{
    width: 480px !important;
  }
  .layout-mobile .trackSelections .selectContainer #embyselect0,
  .layout-mobile .trackSelections .selectContainer #embyselect2,
  .layout-mobile .trackSelections .selectContainer #embyselect3 {
    background-color: rgba(var(--darkest),.75) !important;
  }
  
  .layout-mobile .emby-select {
    width: 275px;
  }
  .layout-mobile .selectContainer{
    width: 340px !important;
  }
  
  /* Move track selection box */
  .detailSection {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
  }
  .detailSection .detailSectionContent {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      box-ordinal-group: 1;
  }
  .detailSection .recordingFields {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2;
  }
  .detailSection .trackSelections {
      -webkit-box-ordinal-group: 3;
      -moz-box-ordinal-group: 3;
      box-ordinal-group: 3;
  }
  .detailSection .itemDetailsGroup {
      -webkit-box-ordinal-group: 4;
      -moz-box-ordinal-group: 4;
      box-ordinal-group: 4;
  }

  /* hides movie name only when there is a logo - from Zombie */
  #itemDetailPage .itemName.infoText.parentNameLast > bdi:first-child,
  #itemDetailPage .parentName > bdi:first-child {
    opacity: 0;
  }
  .hide + .detailPageWrapperContainer .itemName > bdi:first-child,
  .hide + .parentName > bdi:first-child {
    opacity: 1 !important;
  }
  /* text layout - from Zombie */
  
  .layout-desktop .btnMoreCommands::after,
  .layout-desktop .btnPlay::after,
  .layout-desktop .btnPlayTrailer::after,
  .layout-desktop .btnPlaystate::after,
  .layout-desktop .btnReplay::after,
  .layout-desktop .btnUserRating::after,
  .layout-desktop .btntheaters::after {
    content: attr(title);
  }
  /* resizes title box to encompass logo to "turn it into a link" */
  .layout-desktop .itemName.parentNameLast {
    height: 7em;
  }
  .layout-desktop h1.parentName {
    margin: 1em 0px 0em !important;
    padding-bottom: 3em;
    height: 6em;
   }
  .layout-desktop #itemDetailPage .parentName .button-link {
    height: 7em;  
    width: 70%;
  }

  /* fix for title being too high when there is no logo */  
  .nameContainer .itemName.infoText.parentNameLast > bdi {
	  position: relative;
	  top: 55%;
  }
  
  /* header transparent */

  .skinHeader.semiTransparent {
      background-color: transparent;
  }

  .skinHeader-withBackground {
      background-color: transparent;
  }

  /* Prominent play button */

  .layout-desktop .btnPlay {
      background-color: rgb(var(--white));
      color: rgb(var(--darkest)) !important;
      margin-right: 3vw !important;
      border-radius: 14px !important;
  }

  .layout-desktop .btnPlay:hover {
    background-color: rgba(var(--accent));
    color: rgb(var(--darkest)) !important;
  }

  .layout-desktop .mainAnimatedPages .paging {
    margin-right: 1em !important;
  }

  .layout-desktop .detailPagePrimaryContainer .mainDetailButtons .btnPlay::after {
    content: attr(title);
    margin: 1px 11px 0 2px;
    color: rgba(var(--darkest));
  } 

  .layout-desktop .detailPagePrimaryContainer .mainDetailButtons {
    margin: 0em 0;
  } 

  .layout-desktop div:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
	  margin: 0;
	  padding-bottom: .2em;
	  padding-top: 1em;
  }

  .layout-desktop .material-icons.detailButton-icon.play_arrow {
    color: rgba(var(--darkest));
  }

  .layout-desktop .btnPlay.detailButton {
    flex-direction: row;
  }

  .layout-desktop .listViewUserDataButtons {
    display: none;
  }


  /* change Rating star, color */
  .starIcon {
      color: rgba(var(--honey-yellow), 0.8);
  }

  /* tweaks to parental ratings */
  .mediaInfoOfficialRating {
      border: 1px solid rgba(var(--white), 1);
      border-radius: 7px;
      background-color: rgba(var(--white), 0.13);
      color: rgba(var(--white), 1);
      font-size: 109%;

  }

  .layout-mobile .mediaInfoOfficialRating {
      border: 1px solid rgba(var(--white), 1);
      border-radius: 7px;
      background-color: rgba(var(--white), 0.13);
      color: rgba(var(--white), 1);
      font-size: 109%;

  }

  /* Resize cast, scenes and similar movies */

  .layout-desktop #castContent .card.overflowPortraitCard {
    font-size:95%!important;
    width: 13.6em !important;
  }

  .layout-desktop #guestCastContent .card.overflowPortraitCard {
    font-size:95%!important;
    width: 13.6em !important;
  }

  .layout-tv #castContent .card.overflowPortraitCard {
    font-size: 90%!important;
    width: 13em !important;
    margin-left: -1.6vw !important;
    height: 30vh;
  }

  .layout-desktop #similarCollapsible .card.overflowPortraitCard{
    width: 14.6em !important;
  }

  .layout-desktop #scenesContent .card.itemAction.chapterCard{
    width: 27.1em !important;
  }


  /* scene chapters rounded overlay  */
  .chapterCard .innerCardFooter {
    background: rgba(var(--dark), 0.5);
    color: rgba(var(--accent), 0.9);
    backdrop-filter: blur(5px);
	  width: 50%;
	  margin: 0 auto;
	  position: absolute;
	  bottom: 7px;
	  left: 7px;
	  padding: 1px;
	  border-radius: 5.5px !important;
  }

  /* Increase title font size */
  .detailPagePrimaryContainer {
      font-size: 115% !important;
  }

  /* increases font size of "Show more" button */
  a.overview-expand.emby-button {
	  font-size: 110%;
  }

  /* Add padding to description*/
  .layout-desktop .detailSectionContent {
   /*   margin-top: 1.25vw !important; */
      padding: 0vw 0vw 0.25vw 1vw !important;
  }

  /* makes description and tagline bold */
  .detailSectionContent .tagline {
    font-weight: bold;
    font-size: 125% !important;
    margin-bottom: 0.3vh;
  }

  #itemDetailPage .tagline {
    border-left: 0.25em solid rgb(var(--white));
    padding: 0 0.5em;
  }

  .detailSectionContent .detail-clamp-text, .detailSectionContent .overview {
    font-weight: bold;
    font-size: 125% !important;
    margin-top: 0.4em;
  }

  /* hide imdb, tmdb trakt links */
  .itemExternalLinks {
    display: none;
  }

  /* Rounded left drawer buttons */
  .navMenuOption,
  .navMenuOption:hover,
  .navMenuOption-selected {
      border-radius: var(--rounding-alt) !important;
      width: 85% !important;
      margin: auto !important;
      text-align: center !important;
      height: 45px !important;
      margin-top: 4px !important; 
      margin-bottom: 4px !important; 
  }
  .navMenuOption,
  .navMenuOption-selected {
      width: 86% !important;
  }

  .navMenuOption:hover {
      width: 89% !important;
  }

  .navMenuOption:hover:not(.navMenuOption-selected) {
      backdrop-filter: blur(4px);
      background-color: rgba(var(--accent), 0.85);
      color: rgba(var(--darkest));
  }

  /* Selected Custom button color */ 
  .navMenuOption-selected {
      background: rgba(var(--accent), 0.7) !important;
      color: rgba(var(--darkest)) !important;
      backdrop-filter: blur(50px) !important;
  }

  /* change button hover color */
  .raised:hover, .fab:hover, a[data-role="button"]:hover {
    background: rgba(var(--accent), 0.95) !important;
  }

  /* hover background in settings */
  #myPreferencesMenuPage .listItem:hover {
    color: rgba(var(--darkest)) !important;
    background: rgba(var(--accent),0.8) !important;
  }

  [dir="ltr"] #myPreferencesMenuPage .listItemIcon {
	  margin: 0px 0.25em 0px 0.5em;
  }

  /* makes Activity and Paths boxes in settings have padding */
  .listItem:not(.listItem-button) {
      margin: 0.6em;
      padding-left: 1em;
  }

  .listItem:hover:not(.listItem-button) {
      transition: 0.2s;
      background: rgba(var(--dark));
      margin: 0.6em;
  }

  .paperList:not(.listItem-button) {
    padding: 0.6em;
    border-radius: var(--rounding-large);
  }

  /* Fixes server info padding issue post 10.9.x in Dashboard*/
  .serverInfo.paperList {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.65em;
  }

  /* Themes Dashboard sidebar from 10.9.x */
  .css-4yt2of {
	  background-color: rgb(var(--darkest));
	  color: rgb(var(--accent));
  }

  .css-37qkju {
    color: inherit;
  }

  .css-54jp7k {
    color: inherit;
  }

  .css-139vfv2 {
	  background-color: rgba(var(--darkest),1);
	  color: rgb(var(--white));
	  background-image: linear-gradient(rgba(var(--accent), 0.1), rgba(var(--accent), 0.1));
  }

  #server-subheader,
  #devices-subheader, 
  #livetv-subheader,
  #advanced-subheader {
    color: rgba(var(--accent),0.7);
  }

  .css-17c09up {
	  border-radius: var(--rounding);
	  margin: 0.35em;
  }

  .css-17c09up.Mui-selected {
	  background-color: rgba(var(--accent), 1) !important;
	  color: rgb(var(--darkest)) !important;
	  border-radius: var(--rounding);
	  margin: 0.35em;
  }

  .css-17c09up:hover,
  .css-17c09up.Mui-selected:hover {
	  background-color: rgba(var(--accent), 0.85) !important;
	  color: rgb(var(--darkest)) !important;
	  border-radius: var(--rounding);
	  margin: 0.35em;
  }

  .css-1ip8vbj {
	  border-radius: var(--rounding);
	  margin: 0.35em;
  }

  .css-1ip8vbj.Mui-selected {
	  background-color: rgba(var(--accent), 1);
	  color: rgb(var(--darkest));
	  border-radius: var(--rounding);
	  margin: 0.35em;
  }

  .css-1ip8vbj:hover,
  .css-1ip8vbj.Mui-selected:hover {
	  background-color: rgba(var(--accent), 0.85) !important;
	  color: rgb(var(--darkest)) !important;
	  border-radius: var(--rounding);
	  margin: 0.35em;
  }

  /* adds padding to icons in Settings > Activity */
  .listItemIcon:not(.listItemIcon-transparent) {
	  margin: 0 0.2em 0 0.1em;
  }

  /* fixes the above applying rounding to the checkboxlist in settings */
  .checkboxList.paperList {
    border-radius: var(--rounding);
  }

  /* themes header bar in Dashboard added in 10.9.x */
  .css-fknfom {
    background-image: linear-gradient(rgba(var(--accent), 0.08), rgba(var(--accent), 0.08));
	  color: rgb(var(--accent));
	  background-color: rgba(var(--darkest),.8);
	  backdrop-filter: blur(7px);
  }

  .css-nc0a08 {
	  min-height: 64px;
  }

  /* themes Dashboard User menu - 10.9.x */

  .css-192q3pc {
	  background-color: rgb(var(--accent-off));
	  color: rgb(var(--dark));
  }

  .css-1ilo2kq {
	  border-radius: var(--rounding-large);
	  background-image: linear-gradient(rgba(var(--accent), 0.08), rgba(var(--accent), 0.08));
	  color: rgb(var(--accent));
	  background-color: rgba(var(--darkest),.9);
	  backdrop-filter: blur(7px);
  }

  .css-1ilo2kq .css-37qkju {
  /*	color: rgb(var(--accent)); */
  }

  .css-r8u8y9 {
	  margin: 16px;
	  padding: 0px;
  }

  .css-122sjhb {
	  border-radius: var(--rounding-alt);
	  padding: 12px 16px;
  }

  .css-122sjhb:hover {
	  background-color: rgba(var(--accent), 0.75);
	  color: rgb(var(--darkest));
  }

  /* Dashboard Devices > Activity */

  .css-195jjve {
	  background-color: rgba(var(--accent), 1);
  }

  .css-1jmiiw3 {
	  border-color: rgba(var(--accent),.25);
	  border-radius: var(--rounding);
	  color: rgb(var(--accent));
  }

  .css-1jmiiw3 .MuiDataGrid-withBorderColor {
	  border-color: rgba(var(--accent),.25);
  }

  .css-18gtl5v {
	  color: inherit;
  }

  .css-8vq3cg.Mui-selected {
	  color: rgb(var(--accent));
	  background-color: rgba(var(--accent), 0.2);
  }

  .css-8vq3cg {
	  border-radius: var(--rounding-alt);
	  border: 1px solid rgba(var(--accent), 0.12);
	  color: rgb(var(--accent));
  }

  .css-5y4e7x.Mui-selected:hover {
	  background-color: rgba(var(--accent), 0.2);
  }

  .css-5y4e7x.Mui-selected {
	  background-color: rgba(var(--accent), 0.4);
  }

  .css-ntyfco {
	  color: rgb(var(--accent));
  }

  .css-1xiho4e {
	  color: rgb(var(--darkest));
	  background-color: rgb(var(--cherry-red));
  }

  .css-6ci2yv {
	  color: rgb(var(--accent));
  }

  .css-8xlzg4 {
	  border-radius: var(--rounding-large);
	  background-image: linear-gradient(rgba(var(--accent), 0.08), rgba(var(--accent), 0.08));
	  color: rgb(var(--accent));
	  background-color: rgba(var(--darkest),.9);
	  backdrop-filter: blur(7px);
	  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 2px, rgba(0, 0, 0, 0.14) 0px 1px 1px 1px, rgba(0, 0, 0, 0.12) 0px 5px 3px 0px;
  }

  .css-5n0m2r {
	  padding: 0px 0px;
  }

  .css-xfvph6 {
	  color: rgb(var(--accent));
  }

  /* Dashboard Devices > DLNA */

  .css-1fv02xh {
	  color: rgb(var(--darkest));
	  background-color: rgb(var(--accent));
	  border-radius: var(--rounding-alt);
  }

  .css-77wcaa .MuiAlert-icon {
	  color: rgb(var(--accent));
  }

  .css-77wcaa {
	  border-radius: var(--rounding);
	  background-color: rgb(var(--darkest));
	  color: rgba(var(--accent),.75);
  }

  .css-1fv02xh:hover {
	  background-color: rgba(var(--accent),.75);
  }

  /* Search bar in Plugins */

  #pluginsPage .inputContainer .emby-input {
    width: 50%;
  }

  #pluginsPage .inputLabel, #pluginsPage .inputLabelUnfocused {
    margin-top: 1em;
    margin-bottom: 1.6em;
    margin-left: 1em;
  }

  /* Themes missing scheduled tasks entries */
  .dashboardDocument .paper-icon-button-light {
	  color: rgb(var(--accent-off));
  }

  .secondary.listItemBodyText > span:nth-child(1) {
    color: rgb(var(--cherry-red)) !important;
  }

  .secondary.listItemBodyText > div:nth-child(1) > span:nth-child(2) {
    color: rgb(var(--accent-off)) !important;
  }

  .taskProgressOuter {
	  background: rgba(var(--accent),.15);
  }

  #divRunningTasks > p {
	  padding-left: 1em;
  }

  #divRunningTasks > p:nth-child(odd) > progress:nth-child(2) {
	  background-color: rgb(var(--dark-highlight)) !important;
  }

  #divRunningTasks > p:nth-child(even) > progress:nth-child(2) {
	  background-color: rgb(var(--dark-highlight)) !important;
  }

  /* changes color of user profile  */

  .devicesList .cardImage {
	  filter: invert();
	  opacity: 0.65;
	  color: rgb(var(--accent)) !important;
  }

  /* Inverts color of SessionApp icon, but does't look good agains dark BGs
  .sessionNowPlayingInnerContent .sessionAppInfo:not(sessionDeviceName) {
	  filter: invert();
	  opacity: 0.65;
  } */

  /* changes color of active device text in settings > dashboard  and adds padding*/
  #dashboardPage .sessionNowPlayingInnerContent {
    color: rgb(var(--accent));
    padding: 1em;
  }

  /* changes color of darken overlay in Activity devices */
  .darkenContent {
	  background: rgba(var(--darkest),.55);
  }

  /* progressbar bg was dark gray */
  #dashboardPage .backgroundProgress > div {
	  background-color: transparent;
	  display: none;   /*  this may break something? */
  }

  /* changes colors of icons inside cards (eg: person icon inside card images without pictures) */
  .cardImageIcon {
    color: rgb(var(--dark));
  }



  /* #### Accentlist #### */

  .emby-button.show-focus:focus {
    background: rgba(var(--accent),0.5) !important;
  }
  .paper-icon-button-light.show-focus:focus {
      color: rgba(var(--accent)) !important;
  }

  /*Title text buttons*/
  button-flat:hover {
      color: rgba(var(--accent)) !important;
  }

  .raised:hover, 
  .fab:hover,
  a[data-role="button"]:hover {
    background: rgba(var(--accent),0.5) !important;
  }

  .subtitleappearance-preview {
    background: linear-gradient(140deg,rgb(var(--accent)),#111) !important;
    border-radius: var(--rounding);
  }

  .navMenuOption-selected {
    color: rgba(var(--accent));
  }
  .mdl-slider-background-lower {
    background-color: rgba(var(--accent));
  }   

  progress::-moz-progress-bar {
    background-color: rgba(var(--accent),0.75);
  }
  progress::-webkit-progress-value {
    background-color: rgba(var(--accent),0.75);
  }
  .taskProgressInner {
    background: rgba(var(--accent),0.75) !important;
  }

  #dashboardPage .playbackProgress > div {
      background-color: rgba(var(--accent), 0.75) !important;
  }
  #dashboardPage .transcodingProgress > div {
      background-color: rgba(var(--accent), 0.35) !important;
  }

  .mdl-slider-background-lower {
    background-color: rgb(var(--accent));
  }
  .mdl-slider::-moz-range-thumb {
    background: rgb(var(--accent));
  }
  .mdl-slider::-ms-thumb {
    background: rgb(var(--accent));
  }
  .mdl-slider::-webkit-slider-thumb {
    background: rgb(var(--accent));
  }
  .iconOsdProgressInner {
    background: rgb(var(--accent));
  }

  .paper-icon-button-light:hover,
  .raised.homeLibraryButton:hover,
  .button-flat:hover,
  .playstatebutton-icon-played,
  .ratingbutton-icon-withrating,
  .paper-icon-button-light:hover:not(:disabled),
  .emby-tab-button:hover,
  .selectLabelFocused,
  .inputLabelFocused,
  .textareaLabelFocused,
  .buttonActive,
  .button-link {
    color: rgba(var(--accent)) !important;
  }

  #itemDetailPage .button-link {color: inherit !important;}


  /* rounds hover menu options */
  .navMenuOption:hover, .actionSheetMenuItem:hover {
    background-color: rgba(var(--accent),0.75) !important;
	  color: rgba(var(--darkest), 1) !important;
	  border-radius: var(--rounding) !important;
  }
  .actionSheetMenuItem:hover .listItemBodyText.secondary {
    color: rgba(var(--darkest), .85);
  }

  .navMenuOption:hover {
    background: rgba(var(--accent),0.75) !important;
  }


  ./* increases size and changes color of check boxes */

  .checkboxOutline {
    border: 0.25em solid;
    top: 4px;
  }

  .checkboxOutline, .multiSelectCheckboxOutline {
    border-color: rgba(var(--accent)) !important;
  }

  #chkSubtitle .checkboxOutline {
    border-color: rgba(var(--accent)) !important;
    border: 0.25em solid;
	  background: none;
  }

  .emby-checkbox:checked {
    background-color: rgba(var(--accent)) !important;
    font-size: 120% !important;
  }

  .mdl-radio__focus-circle {
	  background: var(--accent) !important;
  }

  .mdl-radio__circles svg {
	  color: rgba(var(--accent),.7) !important;
  }

  .mdl-radio__circles:hover svg {
	  color: rgba(var(--accent),.8) !important;
  }

  .mdl-radio.show-focus .mdl-radio__button:focus+.mdl-radio__circles .mdl-radio__outer-circle {
	  color: rgba(var(--accent),1) !important;
  }

  .mdl-radio.show-focus .mdl-radio__button:focus+.mdl-radio__circles .mdl-radio__inner-circle {
	  color: rgba(var(--accent),1) !important;
  }

  /* changes color of checkboxes, text areas and selection panels */
  .emby-checkbox:checked + span + .checkboxOutline {
	  border: 0.01em solid rgba(var(--accent)) !important;
	  background-color: rgba(var(--accent)) !important;
  }

  .upNextDialog-countdownText {
    color: rgba(var(--accent));
  }

  .mdl-spinner__layer-1 {
    border-color: rgba(var(--accent));
  }
  .mdl-switch__input:checked + .mdl-switch__label + .mdl-switch__trackContainer > .mdl-switch__track {
    background: rgba(var(--accent), 0.5);
  }
  .mdl-switch__input:checked + .mdl-switch__label + .mdl-switch__trackContainer > .mdl-switch__thumb {
    background: rgba(var(--accent));
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(var(--accent),0.8) !important;
  }
  * {
    scrollbar-color: rgba(var(--accent),0.8) #0000 !important;
  }



  /* #### Rounding #### */



  /*Rounded corners on pretty much everything*/

  progress {
    border-radius: var(--rounding);
  }
  progress::-webkit-progress-bar {
    border-radius: var(--rounding);
  }
  progress::-moz-progress-bar {
    border-radius: var(--rounding);
  }
  progress::-webkit-progress-value {
    border-radius: var(--rounding);
  }
  .taskProgressOuter,
  .taskProgressInner {
    border-radius: var(--rounding) !important;
  }
  .formDialogHeader {
    border-top-left-radius: var(--rounding);
    border-top-right-radius: var(--rounding);
  }
  .formDialogFooter {
    border-bottom-left-radius: var(--rounding);
    border-bottom-right-radius: var(--rounding);
  }

  /* rounds and add a dark blur to media cover/thumbs on hover */
  .cardOverlayContainer {
	  border-radius: var(--rounding) !important;
	  background: rgba(var(--accent-off),.42);
  }

  .missingIndicator, 
  .unairedIndicator,
  .detailTable,
  .primaryImageWrapper > img,
  .toast,
  .cardContent,
  .sessionNowPlayingInnerContent, 
  .listItem,
  .listItem:hover, 
  .cardImage,
  .fab,
  .raised,
  .itemSelectionPanel,
  .cardContent-button, 
  .cardContent-shadow, 
  .itemDetailImage, 
  .cardImageContainer,
  .cardPadder,
  .listItemImage,
  .listItemButton,
  .headerButton,
  .innerCardFooter,
  .blurhash-canvas,
  .dialog,
  .countIndicator,
  .playedIndicator,
  .listItemIcon,
  .listItem-border,
  .button-flat,
  .visualCardBox,
  .emby-select-withcolor,
  .chapterThumbTextContainer,
  .chapterThumbContainer,
  .chapterThumb,
  .emby-input, 
  .emby-textarea, 
  .emby-select-withcolor,
  .nowPlayingPageImage,
  .upNextDialog-poster-img,
  .upNextContainer {
    border-radius: var(--rounding) !important;
  }


  /* Makes check boxes circular */
  .checkboxOutline, .multiSelectCheckboxOutline {
    border-radius: var(--rounding-circle) !important;
  }

  fieldset {
    border-radius: var(--rounding);
  }
  .osdPoster img {
    border-radius: var(--rounding); border: none;
  }
  .mdl-slider::-moz-range-thumb {
    border-radius: var(--rounding);
  }
  .mdl-slider::-ms-thumb {
    border-radius: var(--rounding);
  }
  .mdl-slider::-webkit-slider-thumb {
    border-radius: var(--rounding);
  }

  div[data-role="controlgroup"] a[data-role="button"]:first-child {
	  border-bottom-left-radius: var(--rounding);
	  border-top-left-radius: var(--rounding);
  }
  div[data-role="controlgroup"] a[data-role="button"]:last-child {
	  border-bottom-right-radius: var(--rounding);
	  border-top-right-radius: var(--rounding);
  }
  #dashboardPage .cardContent, #dashboardPage .sessionNowPlayingInnerContent {
      border-radius: var(--rounding) var(--rounding) 0 0 !important;
  }
  #divVirtualFolders .cardImageContainer, #divVirtualFolders .cardContent {
      border-radius: var(--rounding) var(--rounding) 0 0 !important;
  }
  #userProfilesPage .cardImage, #userProfilesPage .cardContent {
      border-radius: var(--rounding) var(--rounding) 0 0 !important;
  }


  /* Fix rounding issue on media poster in media page */
  .cardBox:not(.visualCardBox) .cardPadder,
  .cardContent-shadow {
    box-shadow:0 .0725em .29em 0 rgba(0,0,0,0)
  }


  /* indicator corner */



  /*Card indicators style corner*/

  .cardIndicators,
  .listItemIndicators {
    right: 0;
    top: 0;
  }
  .innerCardFooter {
  /*  border-radius: 0px var(--rounding) !important; */  /* conflicts with my edits of the progress bar */
  /*  box-shadow: 1px 0px 5px 2px rgba(var(--dark),0.5);  */
  }
  .countIndicator, .playedIndicator {
    border-radius: 0px var(--rounding) !important;
    box-shadow: -1px 1px 5px 1px rgba(var(--darkest),.5);
  }
  .countIndicator {
    background: rgba(var(--accent),1);
  }
  .playedIndicator {
    background: rgba(var(--darkest), 1)
  }

  .mediaSourceIndicator {
    left: 0;
    top: 0;
  }
  .mediaSourceIndicator {
    border-radius: var(--rounding) 0px !important;
    box-shadow: -1px 1px 5px 1px rgba(var(--darkest),.5);
    background: rgba(0,0,0,0.5);
  }

  .countIndicator, .playedIndicator {
    background: rgba(var(--accent), 1) !important;
    color: rgba(var(--darkest), 1) !important;
    font-weight: bold;
  }

  /* fix for changes in 10.9.x */
  [dir="ltr"] .cardIndicators {
    right: 0em;
  }



  /* colorful */


  /*Colors for Title ribbon */
  .layout-desktop .detailRibbon {
      background: rgba(0, 0, 0, 0);
  }
  /* Item backdrop overlay color */
  .itemBackdrop::after {
    background: rgba(0,0,0,0) !important;
  }

  /*Accenting*/

  .preload {
      background-color: black;
  }
  .backgroundContainer {
      background-color: rgba(var(--accent),0.17) !important;
  }
  .formDialogHeader,
  .formDialogFooter {
      background-color: rgba(var(--accent),0.15) !important;
      backdrop-filter: blur(25px);
  }
  /*Fix footers/headers displaying on small pop-ups*/
  .formDialogFooter-clear,
  .formDialogHeader-clear,
  .innerCardFooterClear {
      background-color: transparent !important;
  }

  .button-flat:hover {
	  background: rgba(var(--accent),0.25);
  }

  .dashboardSection h3 {
	  margin-bottom: 0.5em;
	  margin-top: .5em;
	  margin-left: .6em;
	  margin-right: .6em;
  }

  .paper-icon-button-light:hover, .paper-icon-button-light:hover:not(:disabled) {
    background-color: rgba(var(--accent),0.25) !important;
  }

  .cardOverlayFab-primary:hover {
	  -webkit-transform: scale(1.4);
	  transform: scale(1.4);
	  transition: .2s;
  }

  .navMenuOption-selected {
    color: var(--dark);
  }

  .subtitleappearance-preview {
    background: linear-gradient(140deg,rgba(var(--accent)),#111) !important;
  }
  .navMenuOption-selected, .selectionCommandsPanel {
      background: rgba(var(--accent), 0.8) !important;
  }
  .raised,
  .fab,
  a[data-role="button"] {
    background: rgba(var(--accent), 0.8) !important;
	  transition: all 0.2s !important;
  }

  /*Various box-shadows, might be related to glowstyle*/
  .cardBox:not(.visualCardBox) .cardPadder, .cardContent-shadow {
      box-shadow: none !important;
  }
  /* glow around text on AppleTV-esque bar */
  body, h1, h2, h3, h4, .textActionButton, .emby-button-foreground  {
    text-shadow: 0px 0px 4px rgba(0,0,0,.6) !important;
  }
  .layout-desktop .headerTabs, .layout-desktop .headerRight {
   box-shadow: 1px 3px 6px rgba(var(--darkest),.5);
  }
  .blurhashed {
	  box-shadow: 1px 1px 4px 0px rgba(var(--darkest),.3) !important;
  }

  /*Dash and general UI styling*/
  .paperList, .visualCardBox {
      background-color: rgba(var(--darkest), 1);
  }
  .navMenuOption-selected {
      color: var(--dark);
  }
  progress {
      background: rgba(0, 0, 0, 0.5) !important;
  }

  /*Colors for loading spinner, placeholders, scroll bars*/
  .mdl-spinner__layer-1 {border-color: rgba(var(--accent), 1);}
  .mdl-spinner__layer-2 {border-color: rgba(var(--accent), .8);}
  .mdl-spinner__layer-3 {border-color: rgba(var(--accent), .6);}
  .mdl-spinner__layer-4 {border-color: rgba(var(--accent), .5);}


  /* changes colors of Active devices cards in settings > dashboard */
  .defaultCardBackground1 {
	  background-color: rgba(var(--dark-highlight), 1);
  }
  .defaultCardBackground2 {
	  background-color: rgba(var(--dark-highlight), 1);
  }
  .defaultCardBackground3 {
	  background-color: rgba(var(--dark-highlight), 1);
  }
  .defaultCardBackground4 {
	  background-color: rgba(var(--dark-highlight), 1);
  }
  .defaultCardBackground5 {
	  background-color: rgba(var(--dark-highlight), 1);
  }
  /* Red shutdown button */
  #btnShutdown {
      background: rgba(var(--cherry-red)) !important;
      color: rgba(var(--darkest)) !important;
  }

  /*Remove divider on list items*/
  .listItem-border {
      border: 0 !important;
  }

  /* Green played check icon */
  .playstatebutton-icon-played {
    color: rgba(var(--jade-green), 1) !important;
  }

  /* white dialog Backdrop */

  .dialogBackdropOpened {
	  opacity: 0.2;
  }

  .dialogBackdrop {
	  background-color: rgb(var(--darkest));
  }

  .tmla-mask {
	  background-color: rgba(249,249,249,0.2);  /* hardcoded */
  }

  /* floating */

  /* Floating progressbar edit - from JellyFlix theme */

  .itemProgressBar {
    backdrop-filter: blur(4px);
    background: rgba(var(--white-off),.35) !important;
    height: 10px;
    border-radius: 30px;
  }

  .layout-mobile .itemProgressBar {
    height: 8px;
  }

  /* don't apply the blur inside Settings > Dashboard as it broke things for some reason */
  #dashboardPage .itemProgressBar {
    backdrop-filter: none;
  }

  .itemProgressBarForeground {
    background: rgb(var(--accent));
    border-radius: var(--rounding-circle);

  }

   .innerCardFooter {
	  width: calc(100% - 24px);
	  margin: 0 auto;
	  position: absolute;
	  bottom: 12px;
	  box-shadow: 1px 1px 5px rgba(var(--dark),.25);
  }




  /* glossy */




  @supports (backdrop-filter: blur(15px)) {
    .dialog,
    .mainDrawer,
    .toast,
    .appfooter {
      backdrop-filter: blur(15px);
      background-color: rgba(var(--darkest), 0.75) !important;
    }
    #itemDetailPage .itemProgressBar,
    #dashboardPage .backgroundProgress > div {
      backdrop-filter: blur(4px);
    }
    @media all and (max-width: 70em){
      .cardOverlayButtonIcon {
       /* background-color: rgba(var(--darkest), 0.35) !important; */
      }
      .cardOverlayButtonIcon {
      /* backdrop-filter: blur(4px); */
      }
    }
    .indicator {
      backdrop-filter: blur(2px);
    }
    
    .paper-icon-button-light:hover:not(.headerButtonRight) {
      backdrop-filter: blur(4px);
    }
  }

  /* CSS rules for screen sizes larger than 110em */
  @media all and (min-width: 105.01em){
    .listItemImage.listItemImage-large.itemAction.lazy {
      height: 190px;
      width: 338px;
    }
    .listItem-content {
      height: 136px;
    }
  }
  /* CSS rules for screen sizes between 80em and 110em */
  @media all and (min-width: 80em) and (max-width: 105em) {
    .listItemImage.listItemImage-large.itemAction.lazy {
      height: 127px;
      width: 225px;
    }
    .listItem-content {
      height: 133px;
    }
    .layout-desktop .sectionTabs {
      width: auto !important;
      align-self: center !important;
      margin-top: -4em;
    }
    .secondary.listItem-overview.listItemBodyText {
      height: 5.8em;
    }
  }

  /* CSS rules for screen sizes less than 80em */
  @media all and (max-width: 79.99em){
    .listItemImage.listItemImage-large.itemAction.lazy {
      height: 80px;
      width: 106px;
      }
    .listItem-content {
      height: 85px;
      }
    .secondary.listItem-overview.listItemBodyText {
      height: 2.5em; 
      margin: 0;
    }
    .layout-desktop .sectionTabs {
      width: auto !important;
      align-self: center !important;
      margin-top: -4em;
    }
  }

  .missingIndicator, .unairedIndicator {
      background: #AAAAAA;   /* hardcoded */
      padding: .3em .6em;
      color: rgba(var(--darkest));
  }

  /* turns slider bubble into white rectangle on hover */
  .mdl-slider-hoverthumb:hover::-moz-range-thumb {
    transform:scale(0.75, 2.3);
    border-radius:70%/17%;
    background-color:white;
  }
  .mdl-slider.show-focus:focus::-moz-range-thumb {
    transform:scale(0.75, 2.3);
    border-radius:70%/17%;
    background-color:white;
  }


  .mdl-slider-hoverthumb:hover::-webkit-slider-thumb {
    -webkit-transform:scale(0.7, 2.3);
    transform:scale(0.75, 2.3);
    border-radius:70%/17%;
    background-color:white;
  }
  .mdl-slider.show-focus:focus::-webkit-slider-thumb {
    -webkit-transform:scale(0.75, 2.3);
    transform:scale(0.7, 2.3);
    border-radius:70%/17%;
    background-color:white;
  }


  /* round and blur progress bar */
  .mdl-slider-background-flex {
    background:hsla(0,0%,100%,.3);
    border:0;
    display:-webkit-flex;
    display:flex;
    height:.8em;
    left:0;
    margin-top:-.39em;
    overflow:hidden;
    padding:0;
    top:50%;
    width:100%;
    border-radius: 12px !important;
    backdrop-filter: blur(9px) !important;
  }

  /* dialogs */
  .dialog, .mainDrawer, .appfooter {
    backdrop-filter: blur(21px);
    background-color: rgba(var(--dark), 0.75) !important;
    box-shadow: 0 0 1.9vh #000;
}
.dialog, .appfooter {
    border-radius: var(--rounding-large) !important;
}
.mainDrawer {
    border-top-right-radius: var(--rounding-large) !important;
    border-bottom-right-radius: var(--rounding-large) !important;
}

.toast {
    background-color: rgba(var(--accent-off), 0.75) !important;
    color: rgba(var(--darkest), 1) !important;
    text-shadow: 0px 0px 4px rgba(0,0,0,0) !important;
    font-weight: bold;
}
.appfooter,
.dialog,
.mainDrawer,
.toast {
  backdrop-filter: blur(21px);
  box-shadow: 0 0 1.9vh #000;
}

.actionSheetContent {
    padding: 0.4em 0 !important;
    margin-left: 0.75em !important;
    margin-right: 0.75em !important;
    margin-top: 0.35em !important;
    margin-bottom: 0.35em !important;
}

.navMenuOption-selected, .selectionCommandsPanel {
    color: rgba(var(--darkest), 1) !important;
    background-color: rgba(var(--accent), 0.55) !important;
    backdrop-filter: blur(4px);
}

.raised, .fab, a[data-role="button"] {
  background: rgba(var(--accent), 0.75) !important;
  color: rgba(var(--darkest), 1) !important;
}

div[data-role="controlgroup"] a.ui-btn-active {
    background: rgb(var(--accent)) !important;
    color: rgba(var(--darkest), 1) !important;
}

/* changes the color of icons in various places such as settings > activity, settings> notifications, subtitle results, etc*/
#peopleList .material-icons.listItemIcon.person, 
#listGenres .material-icons.listItemIcon.live_tv,
#listStudios .material-icons.listItemIcon.live_tv,
#listTags .material-icons.listItemIcon.live_tv,
#repositories .listItemIcon:not(.listItemIcon-transparent),
#dlnaProfilesPage .listItemIcon:not(.listItemIcon-transparent),
#homeScreenPreferencesPage .material-icons.listItemIcon.folder_open,
.subtitleList .material-icons.listItemIcon.closed_caption,
.subtitleResults .material-icons.listItemIcon.closed_caption {
  background: rgba(var(--accent-off), 1) !important;
  color: rgba(var(--darkest), 1) !important;
}

/* fixes alignment of download and delete icons in edit subtitle screen */
.subtitleList, .btnDelete.listItemButton.paper-icon-button-light,
.subtitleResults .btnDownload.listItemButton.paper-icon-button-light {
  margin-right: 1em;
}

/* moves dialogs up 
.dialogContainer {
    top: -110px;
}*/
 /* makes progressbar in the Settings > Dashboard nicer */
 #dashboardPage .activeSession .backgroundProgress, .activeSession .playbackProgress, .activeSession .transcodingProgress {
    bottom: 0.6em;
    height: 8px;
    left: 0.7em;
    position: absolute;
    right: 0.7em;
    width: 94%;
}

#dashboardPage .itemProgressBar {
  background: rgba(var(--dark-highlight),.35) !important;
}

.dialogContainer .focuscontainer {
    border-radius: var(--rounding-large) !important;
}


  /* fixes for right click menus post 10.9.x */
  [dir="ltr"] .listItem {
    padding: 0.55em .45em .55em .45em;
    text-align: left;
}

/* recolors icons in Settings > Activities, Notifications and Scheduled Tasks*/
#dashboardPage .listItemIcon, #serverActivityPage .listItemIcon {
  background-color: rgba(var(--accent-off)) !important;
  color: rgba(var(--darkest)) !important;
}

.listItemIcon.material-icons.notifications_active {
  background-color: rgba(var(--accent-off)) !important;
  color: rgba(var(--darkest)) !important;
}
.notifications_off {
  background-color: rgba(var(--accent-off),.44) !important;
  color: rgba(var(--darkest)) !important;
}

.material-icons.listItemIcon.schedule {
  background-color: rgba(var(--accent-off)) !important;
  color: rgba(var(--darkest)) !important;
}

#dashboardPage .notification_important {
  background-color: rgba(var(--cherry-red),.75) !important;
  color: rgba(var(--darkest)) !important;
}

 /* fields no border */



  /*No borders, background highlights*/
  .infoBanner {
    background: rgba(var(--accent), 0.15) !important;
}
fieldset {
    border: 1px solid rgba(var(--accent), 0.3);
}

.emby-input,
.emby-textarea,
.emby-select-withcolor {
  border: none !important;
  background-color: rgba(var(--darkest)); 
}

.checkboxOutline {
  border: 0.22em solid rgba(var(--accent-off)) !important;

}

#itemDetailPage .emby-select-withcolor {
  background: rgba(0, 0, 0, 0.2);
}

/*Change look of in-focus fields: text areas and selection panels */
 .itemSelectionPanel {
    border: 0.01em solid rgba(var(--accent)) !important;
    background-color: rgba(var(--accent),.2) !important;
    padding: 0.5em;
}

.itemSelectionCount {
  color: rgba(var(--darkest)) !important;
}

.emby-textarea {
    background-color: rgba(var(--darkest)) !important;
    color: rgba(var(--accent)) !important;
}

.emby-textarea:focus {
    border-color: rgba(var(--accent),.9) !important;
    background-color: rgba(var(--darkest)) !important;
}

.emby-input:focus {
    border-color: rgba(var(--accent),.9) !important;
    background-color: rgba(var(--darkest)) !important;
}


.emby-select-withcolor:focus {
    border-color: rgba(var(--accent),.9) !important;
    background-color: rgba(var(--darkest)) !important;
}

.emby-select-withcolor {
    background-color: rgba(var(--darkest)) !important;
    color: white;
}

.emby-input {
  background-color: rgba(var(--darkest)) !important;
    color: white;
}

.checkboxIcon {
    color: rgba(var(--dark)) !important;
    font-size: 1.4em;
    margin-right: 1px;
    margin-top: 2px;
}

/* increases size of check boxes */
.checkboxList > .emby-checkbox-label {
    display: flex;
    margin: 0.5em 0.5em 0.4em 0.4em;
    font-size: 120%;
}

.emby-checkbox-label {
  padding: 0 0 0 3em;
}

/* padding to fields */

.emby-input,
.emby-textarea,
.emby-select {
   
  padding: calc(0.8em - 4.5px) !important;
}

/* align labels with fields in track selection */
.trackSelections .selectContainer .selectLabel {
  padding-top: calc(calc(0.8em - 4.5px)/2) !important;
}

/* fixes audio/subtitle selector arrow in media page */
.trackSelections .selectContainer .selectArrowContainer .selectArrow {
    margin-top: 4px;
}


  /* AppleTV-esque bar */


  /* Transparent header bar */
  .skinHeader {
    background-color: transparent !important;
}
.layout-desktop .skinHeader {
    padding-top: 1.5em !important;
    padding-bottom: 1.5em !important;
}

/* Button height */
.headerRight,
.layout-desktop .emby-tab-button {
    height: 45px !important;
}

/* fixes issue with text no being centered */
.emby-tab-button {
  display: inline-flex;
}

/* Rounded header buttons */

.headerTabs,
.headerRight {
    background-color:rgba(var(--white-off), 0.35) !important;
    border-radius: var(--rounding-circle) !important;
    color: rgba(var(--darkest)) !important;
    backdrop-filter: blur(50px) !important;
}

.homeLibraryText, .emby-button-foreground {
    color: rgb(var(--darkest));
}

#indexPage .homeLibraryButton, .emby-tab-button {
    background: transparent !important;
    min-width: 0 !important;
    max-width: 50vw !important;
  width: fit-content !important;
}

.layout-desktop .itemsContainer, .layout-desktop .emby-tabs-slider {
    margin: 0 !important;
}

.layout-desktop .homeLibraryButton, .layout-desktop .emby-tab-button {
    margin: .5em !important;
}

.raised:hover .homeLibraryText, .emby-tab-button:hover .emby-button-foreground {
    color: rgb(var(--darkest)) !important;
    transition: 100ms;
}

#indexPage .homeLibraryButton:hover, .emby-tab-button:hover {
    background-color: rgba(var(--accent),.5) !important;
    border-radius: var(--rounding-circle) !important;
}

.raised.homeLibraryButton.emby-button:hover, .emby-tab-button:hover, .homeLibraryButton:focus {
    outline: none !important;
    box-shadow: none !important;
}

.emby-tab-button:hover::after {
  background: unset !important;
}

.emby-tab-button-active {
  background-color: rgb(var(--accent)) !important;
  border-radius: var(--rounding-circle) !important;
}
    /* fixes issue with Movies > Genres hover boxes */
    .sectionTitleTextButton > .sectionTitle {
        margin-bottom: .35em;
        margin-top: .35em;
        margin-left: .6em;
        margin-right: .6em;
    }'
    .sectionTitleTextButton > .material-icons.chevron_right {
      display: none;
    
    
    
  .sectionTitleTextButton > .material-icons.chevron_right {
    display: none;
  }  

    /* Moves TV shows Up Next to bottom right */
    .layout-desktop .nextUpSection {
        border-radius: 34px;
        left: calc(70vw - 0.5em);
        margin-right: -30vw;
        margin-top: 25vh;
        margin-bottom: 1vh;
        padding-left: 2.62em;
        margin-right: 5vw;
        background-color: rgba(var(--darkest),.77);
        padding-top: .3em;
        backdrop-filter: blur(10px);
        position: absolute;
        /* margin-left: 1.5vw; */
    }
  
    .cardBox-bottompadded {
        margin-bottom: 1.5em !important;
    }
  
    .cardText.cardTextCentered.cardText-first .itemAction.textActionButton{
        margin-top: 0.8em;
    }
  
    .layout-desktop .nextUpSection .card.overflowBackdropCard.card-hoverable.card-withuserdata {
        right: 0.7em;
        position: relative;
    }
  
    .layout-desktop .nextUpSection .cardBox-bottompadded {
        margin-bottom: 1.3em !important;
    }
  /*******************************Ultrachromic episodes_grid**********************************/

  /*Size episode preview images in a more compact way*/

.childrenItemsContainer.itemsContainer.padded-right.vertical-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  @media all and (min-width: 2000px) {
    .listItemImage-large {
      height: 9.5vw;
    }
  }
  
  @media all and (max-width: 2000px) {
    .childrenItemsContainer.itemsContainer.padded-right.vertical-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media all and (max-width: 1000px) {
    .childrenItemsContainer.itemsContainer.padded-right.vertical-list {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .layout-mobile
    .childrenItemsContainer.itemsContainer.padded-right.vertical-list {
    grid-template-columns: 1fr;
  }
  
  #itemDetailPage .listItem-content {
    border-radius: var(--rounding);
    overflow: hidden;
    transition: background 0.15s ease-in-out;
    flex-flow: column;
    -webkit-transition: background 0.15s ease-in-out;
    -moz-transition: background 0.15s ease-in-out;
    -ms-transition: background 0.15s ease-in-out;
    -o-transition: background 0.15s ease-in-out;
  }
  
  .listItemImage.listItemImage-large {
    width: 100%;
    margin: 0;
  }
  
  .listItem-overview.listItemBodyText {
    height: 5.5em !important;
    font-size: 1em !important;
  }
  
  .layout-mobile .listItemImageButton-icon {
    padding: 0;
    top: 0.34em;
    position: absolute !important;
    font-size: 1.5em !important;
    right: 3em;
  }
  
  #itemDetailPage .listItem {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    margin-bottom: 1.5rem;
    border-radius: var(--rounding);
    padding: .5em;
  }
  
  #itemDetailPage .secondary.listItem-overview.listItemBodyText {
    height: 100%;
    margin: 0;
  }
  
  .listItem[data-mediatype="Audio"] {
    padding: 0 1em;
    border-radius: var(--rounding) !important;
    -webkit-border-radius: var(--rounding) !important;
    -moz-border-radius: var(--rounding) !important;
    -ms-border-radius: var(--rounding) !important;
    -o-border-radius: var(--rounding) !important;
  }
  
  .layout-mobile #itemDetailPage .listItemImageButton {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    color: white;
  }
  
  .layout-mobile .listItemIndicators {
    right: 0;
    top: 0;
    z-index: 0;
  }
  
  .layout-mobile .playedIndicator {
    width: 2em;
    height: 2em;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: none;
  }
  
  .layout-mobile .listItemIndicators .indicatorIcon.check {
    z-index: 2;
  }
  
  .layout-mobile .listItemBodyText {
    max-width: 36vw;
  }
  
  @media all and (min-width: 50em) {
    .layout-mobile .listItemBodyText {
      max-width: 100%;
    }
  }
  
  .layout-mobile .listItem .playedIndicator {
    background: transparent !important;
    color: rgba(var(--accent));
  }
  
  .layout-mobile .listItemImage {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: var(--rounding) !important;
  }
  
  .layout-mobile  .listItemImageButton:hover {
      transform: scale(1);
  }
  
  .layout-mobile .listViewUserDataButtons {
    position: absolute;
    right: 0;
    top: 1.25em;
    padding-right: 1em;
  }
  
  .layout-mobile .listItemButton {
    padding: 0 0.556em !important;
  }
  
  .layout-mobile #itemDetailPage .listItem-content {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    align-items: flex-start;
  }
  
  .layout-mobile #itemDetailPage .listItem-content {
    background: none !important;
    position: unset;
    color: white;
  }
  
  .listItemImageButton {
    margin: auto;
    font-size: 1.6em !important;
  }
  .listItemBody.itemAction,
  .listItem-bottomoverview.secondary{
    z-index: 1;
  }
  .listItem-bottomoverview.secondary{
    text-align: justify;
    padding: .5em;
    margin: 0;
  } 


  /********************************Zombie ****************************************/
  #itemDetailPage .itemName.infoText.parentNameLast > bdi:first-child,
  #itemDetailPage .parentName > bdi:first-child {
    display: none;
  }
  .hide + .detailPageWrapperContainer .itemName > bdi:first-child,
  .hide + .parentName > bdi:first-child {
    display: block !important;
  }
  @media only screen and (orientation: portrait) {
    .layout-mobile .itemBackdrop {
      position: relative;
      background-size: cover;
      height: 50vh;
      margin-top: 0;
      -webkit-mask-image: linear-gradient(
        180deg,
        rgba(var(--dark-apparent), 1) 10%,
        rgba(var(--dark-apparent), 0) 90%
      );
      mask-image: linear-gradient(
        180deg,
        rgba(var(--dark-apparent), 1) 10%,
        rgba(var(--dark-apparent), 0) 90%
      );
    }
    .layout-mobile {
      position: relative;
    }
    .layout-mobile .detailLogo {
      display: block;
      width: 25em;
      position: absolute;
      left: 50%;
      top: 30vh;
      transform: translateX(-50%);
    }
    .layout-mobile .mainDetailButtons {
      margin-top: 2em;
      padding-left: 0;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    .layout-mobile .btnPlay {
      border-radius: 2em;
      width: 100% !important;
      background-color: #fff;
      color: #000;
      padding: 0.6em !important;
      margin-bottom: 1em !important;
    }
    .layout-mobile .libraryPage .btnPlay {
      margin-right: 0 !important;
    }
    .layout-mobile .btnPlay::after {
      content: attr(title);
      margin: 0 10px 0 2px;
      color: #000;
    }
    .layout-mobile .btnPlay.detailButton {
      flex-direction: row;
    }
    .layout-mobile .btnReplay::after,
    .childrenItemsContainer.itemsContainer.padded-right.vertical-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media all and (min-width: 2000px) {
  .listItemImage-large {
    height: 9.5vw;
  }
}
@media all and (max-width: 2000px) {
  .childrenItemsContainer.itemsContainer.padded-right.vertical-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (max-width: 1000px) {
  .childrenItemsContainer.itemsContainer.padded-right.vertical-list {
    grid-template-columns: 1fr 1fr;
  }
}
.layout-mobile
  .childrenItemsContainer.itemsContainer.padded-right.vertical-list {
  grid-template-columns: 1fr;
}
#itemDetailPage .listItem-content {
  border-radius: var(--rounding);
  overflow: hidden;
  transition: background 0.15s ease-in-out;
  flex-flow: column;
  -webkit-transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -ms-transition: background 0.15s ease-in-out;
  -o-transition: background 0.15s ease-in-out;
}
.listItemImage.listItemImage-large {
  width: 100%;
  margin: 0;
}
.listItem-overview.listItemBodyText {
  height: 5.5em !important;
  font-size: 1em !important;
}
.layout-mobile .listItemImageButton-icon {
  padding: 0;
  top: 0.34em;
  position: absolute !important;
  font-size: 1.5em !important;
  right: 3em;
}
#itemDetailPage .listItem {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  margin-bottom: 1.5rem;
  border-radius: var(--rounding);
  padding: 0.5em;
}
#itemDetailPage .secondary.listItem-overview.listItemBodyText {
  height: 100%;
  margin: 0;
}
.listItem[data-mediatype="Audio"] {
  padding: 0 1em;
  border-radius: var(--rounding) !important;
  -webkit-border-radius: var(--rounding) !important;
  -moz-border-radius: var(--rounding) !important;
  -ms-border-radius: var(--rounding) !important;
  -o-border-radius: var(--rounding) !important;
}
.layout-mobile #itemDetailPage .listItemImageButton {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  color: #fff;
}
.layout-mobile .listItemIndicators {
  right: 0;
  top: 0;
  z-index: 0;
}
.layout-mobile .playedIndicator {
  width: 2em;
  height: 2em;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: none;
}
.layout-mobile .listItemIndicators .indicatorIcon.check {
  z-index: 2;
}
.layout-mobile .listItemBodyText {
  max-width: 36vw;
}
@media all and (min-width: 50em) {
  .layout-mobile .listItemBodyText {
    max-width: 100%;
  }
}
.layout-mobile .listItem .playedIndicator {
  background: 0 0 !important;
  color: rgba(var(--accent));
}
.layout-mobile .listItemImage {
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: var(--rounding) !important;
}
.layout-mobile .listItemImageButton:hover {
  transform: scale(1);
}
.layout-mobile .listViewUserDataButtons {
  position: absolute;
  right: 0;
  top: 1.25em;
  padding-right: 1em;
}
.layout-mobile .listItemButton {
  padding: 0 0.556em !important;
}
.layout-mobile #itemDetailPage .listItem-content {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  align-items: flex-start;
  background: 0 0 !important;
  position: unset;
  color: #fff;
}
.listItemImageButton {
  margin: auto;
  font-size: 1.6em !important;
}
.listItem-bottomoverview.secondary,
.listItemBody.itemAction {
  z-index: 1;
}
.listItem-bottomoverview.secondary {
  text-align: justify;
  padding: 0.5em;
  margin: 0;
}
    .layout-mobile .btnShuffle::after {
      content: attr(title);
      color: #fff;
      font-weight: 400;
    }
    .layout-mobile .btnMoreCommands::after,
    .layout-mobile .btnPlayTrailer::after,
    .layout-mobile .btnPlaystate::after,
    .layout-mobile .btnUserRating::after {
      content: "";
      color: #fff;
      font-weight: 400;
    }
    .layout-mobile .btnMoreCommands .detailButton-icon,
    .layout-mobile .btnPlayTrailer .detailButton-icon,
    .layout-mobile .btnPlaystate .detailButton-icon,
    .layout-mobile .btnReplay .detailButton-icon,
    .layout-mobile .btnShuffle .detailButton-icon,
    .layout-mobile .btnUserRating .detailButton-icon {
      background-color: #ffffff21;
      border-radius: 50%;
      padding: 0.25em;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5em;
      height: 1.5em;
    }
  }
  .childrenItemsContainer.itemsContainer.padded-right.vertical-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media all and (min-width: 2000px) {
    .listItemImage-large {
      height: 9.5vw;
    }
  }
  @media all and (max-width: 2000px) {
    .childrenItemsContainer.itemsContainer.padded-right.vertical-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media all and (max-width: 1000px) {
    .childrenItemsContainer.itemsContainer.padded-right.vertical-list {
      grid-template-columns: 1fr 1fr;
    }
  }
}
  .layout-mobile
    .childrenItemsContainer.itemsContainer.padded-right.vertical-list {
    grid-template-columns: 1fr;
  }
  #itemDetailPage .listItem-content {
    border-radius: var(--rounding);
    overflow: hidden;
    transition: background 0.15s ease-in-out;
    flex-flow: column;
    -webkit-transition: background 0.15s ease-in-out;
    -moz-transition: background 0.15s ease-in-out;
    -ms-transition: background 0.15s ease-in-out;
    -o-transition: background 0.15s ease-in-out;
  }
  .listItemImage.listItemImage-large {
    width: 100%;
    margin: 0;
  }
  .listItem-overview.listItemBodyText {
    height: 5.5em !important;
    font-size: 1em !important;
  }
  .layout-mobile .listItemImageButton-icon {
    padding: 0;
    top: 0.34em;
    position: absolute !important;
    font-size: 1.5em !important;
    right: 3em;
  }
  #itemDetailPage .listItem {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    margin-bottom: 1.5rem;
    border-radius: var(--rounding);
    padding: 0.5em;
  }
  #itemDetailPage .secondary.listItem-overview.listItemBodyText {
    height: 100%;
    margin: 0;
  }
  .listItem[data-mediatype="Audio"] {
    padding: 0 1em;
    border-radius: var(--rounding) !important;
    -webkit-border-radius: var(--rounding) !important;
    -moz-border-radius: var(--rounding) !important;
    -ms-border-radius: var(--rounding) !important;
    -o-border-radius: var(--rounding) !important;
  }
  .layout-mobile #itemDetailPage .listItemImageButton {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    color: #fff;
  }
  .layout-mobile .listItemIndicators {
    right: 0;
    top: 0;
    z-index: 0;
  }
  .layout-mobile .playedIndicator {
    width: 2em;
    height: 2em;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: none;
  }
  .layout-mobile .listItemIndicators .indicatorIcon.check {
    z-index: 2;
  }
  .layout-mobile .listItemBodyText {
    max-width: 36vw;
  }
  @media all and (min-width: 50em) {
    .layout-mobile .listItemBodyText {
      max-width: 100%;
    }
  }
  .layout-mobile .listItem .playedIndicator {
    background: 0 0 !important;
    color: rgba(var(--accent));
  }
  .layout-mobile .listItemImage {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: var(--rounding) !important;
  }
  .layout-mobile .listItemImageButton:hover {
    transform: scale(1);
  }
  .layout-mobile .listViewUserDataButtons {
    position: absolute;
    right: 0;
    top: 1.25em;
    padding-right: 1em;
  }
  .layout-mobile .listItemButton {
    padding: 0 0.556em !important;
  }
  .layout-mobile #itemDetailPage .listItem-content {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    align-items: flex-start;
    background: 0 0 !important;
    position: unset;
    color: #fff;
  }
  .listItemImageButton {
    margin: auto;
    font-size: 1.6em !important;
  }
  .listItem-bottomoverview.secondary,
  .listItemBody.itemAction {
    z-index: 1;
  }
  .listItem-bottomoverview.secondary {
    text-align: justify;
    padding: 0.5em;
    margin: 0;
  }
